header{
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1{
    text-align: center;
}

header nav{
    text-align: end;   
}

article{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ticket, .review{
    margin: 5% 10%;
    padding: 0% 5% 5%;
    border: solid;
    border-color: gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.review{
    border-width: 2px;
}

.ticket{
    box-shadow: 10px 5px 5px gray;
    border-width: 1px;
}

.ticket h3, .review h3{
    text-align: center;
}

.double-button{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.ticket > .double-button{
    margin-top: 5%;
}

.ticket-information, .review-information{
    padding-top: -15px;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

h2{
    font-size: 18px;
    font-weight: normal;
}

form{
    display:flex;
    flex-direction: column;
}

form input{
    padding: 15px;
}

.errorlist li{
    color:rgb(97, 3, 3);
    list-style-type: none;
    font-size: 14px;
}

.button-type{
    color: black;
    border-radius: 8px;
    border-style: outset;
    border-width: 2px;
    border-color: rgb(161, 161, 161);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 212, 212);
    text-align: center;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-decoration: none;
    width: 160px;
}

.button-type:hover{
    background-color: rgb(168, 168, 168);
}

.button-type:visited{
    color: black;
}

#login{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}

#login div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup .button-type{
    margin-top: 5px;
}

img{
    max-width: 150px;
    height: auto;
    margin: auto;
}