{% extends 'base.html' %}
{% block content %}
<div id="follow-template">
    <form method="post">
        <div class="mb-4">
            <h3>Suivre d'autres utilisateurs</h3>
            <div id="choose-user-to-follow">
                <select class="form-select" name="followed_user" required id="id_followed_user">
                    <option value selected>Nom d'utilisateur</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
                <input name="user" type="hidden" required id="id_user" class="form-control" value="{{ user.id }}">
                <button type="submit" class="button-type" name="new-user-follow-button">Envoyer</button>
            </div>
        </div>
        {% csrf_token %}
    </form>

    <form method="post">
        <div class="mb-4">
            <h3>Abonnements</h3>
            <ul class="list-group list-group-flush ">
                {% for user in request.user.following.all %}
                    <li class="list-group-item">{{ user.followed_user }}<button class="button-unfollow" name="delete-user-follow-button" value="{{ user.followed_user.id }}">Se désabonner</button></li>
                {% endfor %}
                {% csrf_token %}
            </ul>
        </div>
    </form>

    <div class="mb-4">
        <h3>Abonnés</h3>
        <div class="follow-list">
        <ul class="list-group list-group-flush">
            {% for user in request.user.followed_by.all %}
                <li class="list-group-item">{{ user.user }}</li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>
{% endblock content %}