{% extends 'base.html' %}
{% block content %}
    <h2>Créer une critique</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="review">
            <div class="pb-3 ticket">
                <h3>Livre/Article</h3>
                {% include "blog/partials/ticket_form_snippet.html" %}
            </div>
            
            <h3>Critique</h3>
            {% include "blog/partials/review_form_snippet.html" %}
            <button type="submit" class="button-type">Envoyer</button>
        </div>
    </form>
{% endblock content %}