{% extends 'base.html' %}
{% block content %}
    <h2>Êtes-vous sûr de vouloir supprimer la critique ?</h2>
    <form method="post">
        {{ delete_form }}
        {% csrf_token %}
        <div class="double-button">
            <a href="{% url 'posts' %}" class="button-type">Annuler</a>
            <button type="submit" class="button-type">Supprimer</button>
        </div>
    </form>
    <div class="review">
        {% include "blog/partials/review_view_snippet.html" with review=review ticket=ticket%}
    </div>
{% endblock content %}