{% load static %}
<!doctype html>
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'LITReview/styles.css' %}">
    </head>
    <header>
        <div id="title">
            <h1>LITReview</h1>
            <img id="pen-image" src="/media/hand-drawn-quill-pen.png">
        </div>
        
        {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'follow_users' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </nav>
        {% endif %}   
    </header>
    <body>
        <article>
            {% block content %}{% endblock content %}
        </article>
    </body>
</html>