{% load static %}

<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'LITReview/styles.css' %}">
    </head>
    <header>
        <h1>LITReview</h1>
        {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </nav>
        {% endif %}   
    </header>
    <body>
        <article>
            {% block content %}{% endblock content %}
        </article>
    </body>
</html>